h1{
    background-color: rgb(18, 139, 58);
    color:rgb(184, 9, 9);
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    box-shadow: 100px;

}
p1{
    color: rgb(31, 163, 240);
}
p2{
    color: rgb(76, 187, 48);

}
p3{
    color: rgb(216, 13, 138);
    font-size: large;
}
#r{
    margin: 50px;
    padding: auto;
}

#s img{
    display: block;
     margin: 8px;
     width: 200px;
     height: 300px;
     background-color: blue;
     padding: 20px;

}
button{
    background-color: rgb(39, 177, 101);
    color: rgb(212, 83, 143);
    border-radius: 0 25px;
}
button:hover{
    background-color: yellow;
    color: chocolate;
    border-radius: 20px 0;
}